<header class="site-header">
  <a class="brand" href="/" aria-label="Jura Wolpertinger Start">
    <img src="/assets/icon.png" alt="">
    <span>Jura Wolpertinger</span>
  </a>
  <nav aria-label="Hauptnavigation">
    {{- range site.Menus.main }}
      {{- $attrs := dict "href" .URL }}
      {{- with .Params.class }}
        {{- $attrs = merge $attrs (dict "class" .) }}
      {{- end }}
      {{- if $.IsMenuCurrent .Menu . }}
        {{- $attrs = merge $attrs (dict "aria-current" "page") }}
      {{- end }}
      <a
        {{- range $key, $value := $attrs }}
          {{- with $value }}{{ printf " %s=%q" $key $value | safeHTMLAttr }}{{ end }}
        {{- end -}}
      >{{ .Name }}</a>
    {{- end }}
  </nav>
</header>
